.wrapper {
    width: 400px;
    height: 380px;
    background-color:rgb(8, 248, 244);
    text-align: center;
    margin: 10px;
    border-radius: 10px;
    border: 2px solid rgb(251, 42, 178);
}

.favouritesWrap {
    display: flex;
    justify-content: end;
    margin: 10px;
}

.favourites {
    width: 20px;
    height: 20px;
    svg path {
        fill: white;
    }

    &.active {
        svg path {
            fill: yellow;
        }
    }
}

.img {
    max-width: 200px;
    height: 150px;
    margin: 10px;
    border-radius: 10px;
}

.caption {
    font-size: 20px;
    font-style: italic;
    font-weight: 700;
    color: black;
}

.infoWrap {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 10px;
}

.info, 
.desc {
    font-size: 16px;
    font-weight: 500;
    color: black;
}



